<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change goal</title>
</head>
<body>
{% extends 'fits/base.html' %}
{% load bootstrap3 %}

{% block header %}
<h3>Change the workout:</h3>
{% endblock header %}

{% block content %}
<form action="{% url 'fits:edit_goal' %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
    <button name="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}

</form>
{% endblock content %}

</body>
</html>
